{% extends 'base.twig' %}

{% block title %}404{% endblock %}

{% block body %}
    <div class="flash-message">
        <div class="alert alert-danger" role="alert">
           Page not found
        </div>
    </div>   
{% endblock %}